.palybar {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1002;
  background: url('@/assets/images/playbar.png') repeat-x;
  background-position: 0 0;
  color: #fff;
  transition: bottom 0.6s ease;
}

.context {
  display: flex;
  align-items: center;
  height: 53px;
}

.lock {
  position: absolute;
  top: -14px;
  right: 15px;
  width: 52px;
  height: 67px;
  background-position: 0 -380px !important;
}

.lock > span {
  display: block;
  width: 18px;
  height: 18px;
  margin: 6px 0 0 17px;
  cursor: pointer;
}
