.header {
  display: flex;
  height: 42px;
  border-bottom: 2px solid #c20c0c;
}

.header > h2 {
  font-size: 24px;
  font-weight: normal;
}

.header > em {
  color: #999;
  font-size: 12px;
  margin: 13px 0 0 10px;
}

.list {
  border: 1px solid #e2e2e2;
  border-top: none;
}

.list li {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 0 10px 20px;
  font-size: 12px;
  background: #fff;
}

.list li:hover {
  background: #eee;
}

.list li:nth-child(2n) {
  background: #f7f7f7;
}

.list li:hover .img-box .play {
  display: block;
}

.img-box {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.img-box .play {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-position: 0 -85px;
  text-indent: -99999px;
}

.img-box > img {
  width: inherit;
  height: inherit;
}

.cnt {
  width: 304px;
  line-height: 40px;
}

.artist {
  color: #666;
  width: 166px;
  margin-left: 10px;
}

/* 播放数量 */
.play-num {
  width: 90px;
  margin-left: 10px;
  color: #999;
}

/* 点赞数量 */
.good {
  width: 126px;
  margin-left: 10px;
  color: #999;
}

.tag {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  overflow: hidden;
  padding: 1px 6px;
  border: 1px solid #999;
  color: #999;
  vertical-align: middle;
  font-size: 12px;
  cursor: pointer;
}

.tag:hover {
  border-color: #666;
  color: #666;
}
