.cvrlst {
  display: flex;
  flex-wrap: wrap;
}

.cvrlst li {
  margin-left: 17px;
  margin-bottom: 30px;
}

.cvrlst li:nth-child(5n + 1) {
  margin-left: 0;
}

.cover {
  position: relative;
  width: 130px;
  height: 130px;
}

.cover > img {
  width: 100%;
  height: 100%;
}

.cover > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 -680px;
}

.songer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
}

.songer i {
  width: 17px;
  height: 18px;
  background-position: 0 -740px;
}
