.warp {
  width: 1100px;
  margin: 0 auto;
}

.mini-warp {
  width: 980px;
  margin: 0 auto;
}
/* 文本溢出隐藏 需要有width */
.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.small-text-size {
  font-size: 12px;
}

/* 雪碧图片类 */
.yxz-sprite {
  background: url('@/assets/images/sprite.png') no-repeat 0 -99999px;
}

.yxz-coverall {
  background: url('@/assets/images/coverall.png') no-repeat 0 -99999px;
}

.yxz-icon {
  background: url('@/assets/images/icon.png') no-repeat 0 -99999px;
}

.foot-img {
  background: url('@/assets/images/foot_enter.png') no-repeat 0 -99999px;
  background-size: 220px 220px;
}
