.filter-container {
  padding: 50px 10px 0;
  width: 182px;
  background: #f9f9f8;
}

.item {
  font-size: 12px;
}

.item:nth-child(n + 2) {
  margin-top: 16px;
}

.item:last-child .nav {
  border-bottom-width: 0;
}

.item .title {
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Microsoft Yahei';
}

.nav {
  padding-bottom: 16px;
  border-bottom: 1px solid #d3d3d3;
}

.nav li {
  height: 29px;
  line-height: 29px;
  cursor: pointer;
}

.nav li > a {
  display: block;
  padding-left: 27px;
  background-position: 0 -30px;
}

.nav li a.active {
  color: var(--theme-color);
  background-position: 0 0;
}
