.m-subnav {
  position: relative;
  height: 35px;
  background-color: #c20c0c;
  z-index: 90;
}

.nav {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 185px;
}

.nav > li {
  padding: 0 22px 0 20px;
  font-size: 12px;
  cursor: pointer;
}
.nav > li > span {
  display: block;
  line-height: 35px;
  padding: 0 13px;
  border-radius: 10px;
}
.nav > li:hover > span {
  background: #9b0909;
}
