.banner-container {
  display: flex;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 37px;
  height: 63px;
  background-color: transparent;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banl {
  left: 0;
}

.banl::after,
.banr::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-color: #ededed transparent transparent #ededed;
  border-width: 2px;
  border-style: solid;
}

.banl::after {
  left: 42%;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.banr {
  right: -10px;
}

.banr::after {
  left: -6px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

/* 小圆点 */
.dots {
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.dots > li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ededed;
  transition: background-color 0.4s ease;
}

.dots > li:hover {
  background-color: #c20c0c;
}
.dots > li.current {
  background-color: #c20c0c;
}

.dots > li:nth-child(n + 2) {
  margin-left: 12px;
}

/* 右侧下载部分 */
.download {
  position: relative;
  display: block;
  height: 100%;
  width: 254px;
}

.download,
.download > span {
  background: url('@/assets/images/download.png') no-repeat;
}

.download > p {
  position: absolute;
  bottom: 4px;
  left: 6px;
  color: #eee;
  font-size: 12px;
}

.download > span {
  position: absolute;
  left: 18px;
  bottom: 43px;
  display: block;
  width: 215px;
  height: 56px;
  cursor: pointer;
  background-position: -18px -186px;
  text-indent: -9999px;
}

.download > span:hover {
  background-position: 0 -9999px;
}
