/* 播放列表、歌词盒子 */
.playlist {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 47px;
  width: 986px;
  height: 301px;
  background: #000;
}

.listhd {
  position: relative;
  height: 40px;
  color: #e2e2e2;
}

.listhd > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 播放列表 */
.listhd > h4 {
  left: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #e2e2e2;
}

.listhd > a {
  font-size: 12px;
  color: #ccc;
}

.listhd > a:hover {
  text-decoration: underline;
  color: #fff;
}

/* 收藏全部 */
.addall {
  left: 398px;
}

.addall:hover .ico-add {
  background-position: -24px -20px;
}

.addall .ico-add {
  position: absolute;
  left: -22px;
  width: 16px;
  height: 16px;
  background-position: -24px 0;
}

/* 清除 */
.clean {
  left: 490px;
}

.clean .ico-clean {
  position: absolute;
  left: -22px;
  width: 13px;
  height: 16px;
  background-position: -51px 0;
}

.clean:hover .ico-clean {
  background-position: -51px -20px;
}

/* 关闭 */
.listhd .close {
  overflow: hidden;
  right: 8px;
  width: 30px;
  height: 30px;
  text-indent: -999px;
  background-position: -195px 9px;
  cursor: pointer;
}

.listhd .close:hover {
  background-position: -195px -21px;
}

.song-title {
  left: 595px;
  width: 346px;
  text-align: center;
  color: #fff;
  font-weight: 900;
}

/* 主体内容 */
.listbd {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 260px;
}

.mask-bg {
  position: absolute;
  left: 2px;
  top: -1px;
  width: 980px;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}

/* 左侧盒子 */
.listbdc {
  overflow: hidden;
  height: 100%;
  width: 553px;
  z-index: 3;
}

.listbdc-list {
  overflow-y: scroll;
  height: 100%;
}

.listbdc-list > .item {
  position: relative;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}

.listbdc-list > .item .playicn {
  left: 10px;
  width: 10px;
  height: 13px;
  background-position: -182px 0;
}

.listbdc-list > .item * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.listbdc-list > .item .song-title {
  text-align: left;
  color: inherit;
  left: 30px;
}

.listbdc-list > .item .songer {
  left: 385px;
}

.listbdc-list > .item:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.listbdc-list > .item.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.listbdc-list > .item:hover .time {
  color: inherit;
}

.listbdc-list > .item .time {
  left: 460px;
}

.listbdc-list > .item .ico-src-dis {
  right: 18px;
  width: 14px;
  height: 14px;
  background-position: -100px 0;
  text-indent: -9999px;
}

.listlyric-container {
  flex: 1;
  position: relative;
  height: 100%;
}

.listlyric {
  overflow: scroll;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 354px;
  height: 219px;
  z-index: 3;
}

.listlyric > p {
  color: #989898;
  word-wrap: break-word;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  height: auto !important;
  height: 32px;
  min-height: 32px;
  -webkit-transition: color 0.7s linear;
  -moz-transition: color 0.7s linear;
  -o-transition: color 0.7s linear;
  transition: color 0.7s linear;
}

.listlyric > p.active {
  color: #fff;
  font-size: 14px;
}
