.search-box {
  height: 100%;
  line-height: 70px;
}
.search {
  padding-left: 14px;
  width: 191px;
  height: 42px;
  color: #000;
  font-style: 10px;
  border-radius: 18px;
  transform: scale(0.8);
}
