.header {
  position: relative;
  display: flex;
  height: 42px;
  border-bottom: 2px solid #c20c0c;
}

.header > h2 {
  font-size: 24px;
  font-weight: normal;
}

.header > em {
  color: #999;
  font-size: 12px;
  margin: 13px 0 0 10px;
}

.header .info {
  position: absolute;
  bottom: 9px;
  right: 0;
  width: 18px;
  height: 18px;
  background-position: 0 -50px;
  cursor: pointer;
}

.header .info:hover .tip {
  display: block;
}

.header .tip {
  display: none;
  position: absolute;
  top: 23px;
  right: -30px;
  width: 323px;
  font-size: 12px;
  padding: 24px 19px 19px 19px;
  line-height: 20px;
  z-index: 9999;
  cursor: default;
}

.list {
  border: 1px solid #e2e2e2;
  border-top: none;
}

.list li {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 0;
  background: #fff;
}

.list li:hover {
  background: #eee;
}

.list li:nth-child(2n) {
  background: #f7f7f7;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47px;
  margin: 6px 0 0 0;
  text-align: center;
}

.rnk {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.rnk .icon {
  margin: -1px 2px 0 0;
  width: 6px;
  height: 6px;
  background-color: pink;
}

.list li:hover .img-box .play {
  display: block;
}

.img-box {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.img-box .play {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-position: 0 -85px;
  text-indent: -99999px;
}

.img-box > img {
  width: inherit;
  height: inherit;
}

.cnt {
  font-size: 12px;
  width: 304px;
  color: #333;
}

.artist {
  margin: 0 10px;
  width: 176px;
  color: #666;
  font-size: 12px;
}

/* 进度 */
.progress {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  height: 8px;
  width: 100px;
  background-position: 0 -240px;
}

.progress i {
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
}

.progress > i {
  display: block;
  overflow: hidden;
  background-position: right -318px;
}

.tag {
  margin-right: 80px;
  padding: 1px 6px;
  border: 1px solid #999;
  color: #999;
  vertical-align: middle;
  font-size: 12px;
  cursor: pointer;
}

.tag:hover {
  border-color: #666;
  color: #666;
}
