.header,
.header > div {
  display: flex;
  align-items: flex-end;
}

.header {
  justify-content: space-between;
  height: 35px;
  font-size: 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid #c20c0c;
}

.head-left > h1 {
  margin-right: 12px;
  font-size: 20px;
  color: #000;
}

.play-num {
  margin: 0 2px;
  color: #c20c0c;
}
